<h1>Fall 2011 - Contributors</h1>
<div class="contributor">
    <a href="http://www.magenic.com" target="_blank">
        <img src="@Url.Content("~/Images/Magenic.png")" alt="Magenic" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.microsoft.com" target="_blank">
        <img src="@Url.Content("~/Images/Microsoft.gif")" alt="Microsoft" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.avtex.com" target="_blank">
        <img src="@Url.Content("~/Images/Avtex.png")" alt="Avtex" />
    </a>
</div>
<div class="contributor">
    <a href="http://jobs.thomsonreuters.com/go/Technology-Jobs-at-Thomson-Reuters-in-USLF-and-CGIE/309374/" target="_blank">
        <img src="@Url.Content("~/Images/ThomsonReutersFall2011.png")" alt="Thomson Reuters" />
    </a>
</div>
<div class="contributor">
    <a href="http://minnesotatechjobs.com/" target="_blank">
        <img src="@Url.Content("~/Images/MNTechJobs.jpg")" alt="Minnesota Tech Jobs" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.globeuniversity.edu/" target="_blank">
        <img src="@Url.Content("~/Images/GlobeUniversity.JPG")" alt="Globe University" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.rbaconsulting.com" target="_blank">
        <img src="@Url.Content("~/Images/RBA.jpg")" alt="RBA Consulting" />
    </a>
</div>
<div class="contributor">
    <a href="https://www.facebook.com/event.php?eid=159949600759522" target="_blank">
        <img src="@Url.Content("~/Images/TheNerdery.png")" alt="The Nerdery" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.telerik.com" target="_blank">
        <img src="@Url.Content("~/Images/Telerik.png")" alt="Telerik" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.develop.com/" target="_blank">
        <img src="@Url.Content("~/Images/DevelopMentor.jpg")" alt="DevelopMentor" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.oreilly.com/" target="_blank">
        <img src="@Url.Content("~/Images/OReilly.gif")" alt="O'Reilly" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.manning.com">
        <img src="@Url.Content("~/Images/Manning.png")" alt="Manning" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.apress.com" target="_blank">
        <img src="@Url.Content("~/Images/Apress.gif")" alt="Apress" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.wrox.com/" target="_blank">
        <img src="@Url.Content("~/Images/Wrox.gif")" alt="Wrox" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.componentone.com/" target="_blank">
        <img src="@Url.Content("~/Images/ComponentOne.png")" alt="Component One" />
    </a>
</div>
