<h1>Fall 2012 - Contributors</h1>
<div class="contributor">
    <a href="http://www.magenic.com" target="_blank">
        <img src="@Url.Content("~/Images/Magenic.png")" alt="Magenic" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.microsoft.com" target="_blank">
        <img src="@Url.Content("~/Images/Microsoft.gif")" alt="Microsoft" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.rbaconsulting.com" target="_blank">
        <img src="@Url.Content("~/Images/RBA.jpg")" alt="RBA Consulting" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.w3i.com" target="_blank">
        <img src="@Url.Content("~/Images/W3I.jpg")" alt="W3i" />
    </a>
</div>
<div class="contributor">
    <a href="http://pluralsight.com" target="_blank">
        <img src="@Url.Content("~/Images/Pluralsight.png")" alt="Pluralsight" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.nerdery.com/" target="_blank">
        <img src="@Url.Content("~/Images/TheNerdery.png")" alt="The Nerdery" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.avtex.com" target="_blank">
        <img src="@Url.Content("~/Images/Avtex.png")" alt="Avtex" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.telerik.com" target="_blank">
        <img src="@Url.Content("~/Images/Telerik.png")" alt="Telerik" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.typemock.com/" target="_blank">
        <img src="@Url.Content("~/Images/TypeMock.png")" alt="TypeMock" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.topfunky.com/" target="_blank">
        <img src="@Url.Content("~/Images/topfunky.png")" alt="Top Funky" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.linqpad.net/" target="_blank">
        <img src="@Url.Content("~/Images/linqpad.png")" alt="LINQPad" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.oreilly.com/" target="_blank">
        <img src="@Url.Content("~/Images/OReilly.gif")" alt="O'Reilly" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.manning.com">
        <img src="@Url.Content("~/Images/Manning.png")" alt="Manning" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.componentone.com/" target="_blank">
        <img src="@Url.Content("~/Images/ComponentOne.png")" alt="Component One" />
    </a>
</div>
<div class="contributor">
    <a href="https://github.com" target="_blank">
        <img src="@Url.Content("~/Images/Github.png")" alt="GitHub" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.gettyimages.com/" target="_blank">
        <img src="@Url.Content("~/Images/GettyImages.png")" alt="Getty Images" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.ssware.com/" target="_blank">
        <img src="@Url.Content("~/Images/LogicNP.jpg")" alt="LogicNP Software" />
    </a>
</div>
