<h1>Fall 2009 - Contributors</h1>
<div class="contributor">
    <a href="http://www.magenic.com" target="_blank">
        <img src="@Url.Content("~/Images/Magenic.gif")" alt="Magenic" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.newhorizonsmn.com" target="_blank">
        <img src="@Url.Content("~/Images/NewHorizons.jpg")" alt="New Horizons" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.microsoft.com" target="_blank">
        <img src="@Url.Content("~/Images/Microsoft.gif")" alt="Microsoft" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.rbaconsulting.com" target="_blank">
        <img src="@Url.Content("~/Images/RBA.bmp")" alt="RBA Consulting" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.sierra-bravo.com/" target="_blank">
        <img src="@Url.Content("~/Images/SierraBravo.gif")" alt="SierraBravo Corporation" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.thoughtworks.com/" target="_blank">
        <img src="@Url.Content("~/Images/ThoughtWorks.gif")" alt="ThoughtWorks" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.mindsharp.com/" target="_blank">
        <img src="@Url.Content("~/Images/Mindsharp.png")" alt="Mindsharp" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.informant.com/" target="_blank">
        <img src="@Url.Content("~/Images/Informant.gif")" alt="Information Communications Group" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.sqlsets.com/" target="_blank">
        <img src="@Url.Content("~/Images/SqlSets.png")" alt="Sql Sets" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.manning.com">
        <img src="@Url.Content("~/Images/Manning.png")" alt="Manning" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.pearson.com/" target="_blank">
        <img src="@Url.Content("~/Images/Pearson.jpg")" alt="Pearson" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.apress.com" target="_blank">
        <img src="@Url.Content("~/Images/Apress.gif")" alt="Apress" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.kellymitchell.com" target="_blank">
        <img src="@Url.Content("~/Images/KellyMitchell.jpg")" alt="KellyMitchell" />
    </a>
</div>
