<h1>Fall 2008 - Contributors</h1>
<div class="contributor">
    <a href="http://www.magenic.com" target="_blank">
        <img src="@Url.Content("~/Images/Magenic.gif")" alt="Magenic" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.newhorizonsmn.com" target="_blank">
        <img src="@Url.Content("~/Images/NewHorizons.jpg")" alt="New Horizons" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.inetium.com" target="_blank">
        <img src="@Url.Content("~/Images/Inetium.gif")" alt="Inetium" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.microsoft.com" target="_blank">
        <img src="@Url.Content("~/Images/Microsoft.gif")" alt="Microsoft" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.rjssoftware.com/" target="_blank">
        <img src="@Url.Content("~/Images/RJS.png")" alt="RJS Software Systems" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.sierra-bravo.com/" target="_blank">
        <img src="@Url.Content("~/Images/SierraBravo.gif")" alt="SierraBravo Corporation" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.honeybakedforyou.com/" target="_blank">
        <img src="@Url.Content("~/Images/HoneyBakedHam.jpg")" alt="Honey Baked Ham" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.pearson.com/" target="_blank">
        <img src="@Url.Content("~/Images/Pearson.jpg")" alt="Pearson" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.mindsharp.com/" target="_blank">
        <img src="@Url.Content("~/Images/Mindsharp.png")" alt="Mindsharp" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.digineer.com" target="_blank">
        <img src="@Url.Content("~/Images/Digineer.jpg")" alt="Digineer" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.apress.com" target="_blank">
        <img src="@Url.Content("~/Images/Apress.gif")" alt="Apress" />
    </a>
</div>
