<h1>Spring 2012 - Contributors</h1>
<div class="contributor">
    <a href="http://www.magenic.com" target="_blank">
        <img src="@Url.Content("~/Images/Magenic.png")" alt="Magenic" />
    </a>
</div>
<div class="contributor">
    <a href="http://jobs.thomsonreuters.com/find.job?title=&department=&location=MN&date=&btnsearchfilter=Go&cat=207427&job=main.searchbycat" target="_blank">
        <img src="@Url.Content("~/Images/ThomsonReuters.png")" alt="Thomson Reuters" />
    </a>
</div>
<div class="contributor">
    <a href="https://www.facebook.com/events/414988431849473/" target="_blank">
        <img src="@Url.Content("~/Images/TheNerdery.png")" alt="The Nerdery" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.componentone.com/" target="_blank">
        <img src="@Url.Content("~/Images/ComponentOne.png")" alt="Component One" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.rbaconsulting.com" target="_blank">
        <img src="@Url.Content("~/Images/RBA.jpg")" alt="RBA Consulting" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.wipfli.com/" target="_blank">
        <img src="@Url.Content("~/Images/Wipfli.jpg")" alt="WIPFLi" />
    </a>
</div>
<div class="contributor">
    <a href="http://minnesotatechjobs.com/" target="_blank">
        <img src="@Url.Content("~/Images/MNTechJobs.jpg")" alt="Minnesota Tech Jobs" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.avtex.com" target="_blank">
        <img src="@Url.Content("~/Images/Avtex.png")" alt="Avtex" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.microsoft.com" target="_blank">
        <img src="@Url.Content("~/Images/Microsoft.gif")" alt="Microsoft" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.telerik.com" target="_blank">
        <img src="@Url.Content("~/Images/Telerik.png")" alt="Telerik" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.w3i.com" target="_blank">
        <img src="@Url.Content("~/Images/W3I.jpg")" alt="W3i" />
    </a>
</div>
<div class="contributor">
    <a href="https://github.com" target="_blank">
        <img src="@Url.Content("~/Images/Github.png")" alt="GitHub" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.creedinteractive.com/" target="_blank">
        <img src="@Url.Content("~/Images/CreedInteractive.jpg")" alt="Creed Interactive" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.ssware.com/" target="_blank">
        <img src="@Url.Content("~/Images/LogicNP.jpg")" alt="LogicNP Software" />
    </a>
</div>
<div class="contributor">
    <a href="http://www.agilemedicine.com/" target="_blank">
        <img src="@Url.Content("~/Images/AgileMedicine.png")" alt="Agile Medicine" />
    </a>
</div>
