<h1>Spring 2015 - Sessions</h1>
<p>
    Here's a list of session titles currently submitted. Note that the final list of selected sessions may not contain all of the talks listed here.
</p>
<a name="s1"></a>
<h2>
    Web Essentials - @Html.ActionLink("Robert Boedigheimer", "Spring2015", "Speakers", null, null, "sp1", null, null)
</h2>
<p>
    Web Essentials is an awesome extension for Visual Studio that adds incredible new features for web developers.  Vendor prefixes and visual feedback for browser support are two of many CSS related features.  Browser link creates a connection between a series of browsers and Visual Studio.  Changes in Visual Studio are immediately reflected in all connected browsers, and changes can be made directly in a browser and reflected in the source.  There are also a large number of enhancements to the HTML and JavaScript editors.  Web Essentials is a great way to get early access to great new features that may be eventually added to Visual Studio.
</p>
<a name="s2"></a>
<h2>
    Postmortem: Don't Be Dinner - @Html.ActionLink("Matt Christian", "Spring2015", "Speakers", null, null, "sp2", null, null)
</h2>
<p>
    Learn about the trials and tribulations that went into development of the Windows 8 game Don’t Be Dinner from Subject Matter Games.  Built using Unity 4, Don’t Be Dinner is the team's first game and follows the many attempts of 5 medieval knights as they try to slay an evil troll with (often) disastrous results.  This talk will go into a behind the scenes look at development, do’s and don'ts on design and implementation, Unity code examples, and plenty of Q & A.
</p>
<a name="s3"></a>
<h2>
    Realtime Web Apps with Elixir and Phoenix - @Html.ActionLink("Brian P. Hogan", "Spring2015", "Speakers", null, null, "sp3", null, null)
</h2>
<p>
    Elixir mixes functional language power with friendly syntax, and it turns out to be a fantastic way to work with data. The Phoenix framework gives you the power to build realtime apps with the same ease that Ruby on Rails did for database-driven apps a decade ago. In this session you'll learn about the basics of Elixir and see how to build a realtime collaborative app with Phoenix and some JavaScript. Elixir and Phoenix represent one possible future for web development. See how you can put it in use today.
</p>
<a name="s4"></a>
<h2>
    Continuous Delivery in the Cloud - @Html.ActionLink("Ken Sykora", "Spring2015", "Speakers", null, null, "sp4", null, null)
</h2>
<p>
    Continuous Delivery is a great way to reduce times in development cycles and deploy new features and enhancements faster. In this session, we will cover the build pipeline and all the different steps that are needed to automate a release cycle. We will review a simple website example and watch it from start to finish, covering configuration steps. Examples will be shown using Visual Studio, Git, Selenium, AppVeyor, Load Impact, Sauce Labs Continuous Integration, and Azure / Azure Powershell Management technologies for deployment.
</p>
<a name="s5"></a>
<h2>
    Lightning Talks - Hosted by @Html.ActionLink("Jake Good", "Spring2015", "Speakers", null, null, "sp5", null, null)
</h2>
<p>
    Another TCCC, another round of lightning talks! This is the 3rd installment at TCCC.
</p>
<p>
    Lightning talks are short presentations, back to back, about almost any topic you can speak about in 5 minutes. Spots will be limited as 60 minutes will allow for 12 spots through the session.
</p>
<p>
    Topic ideas:
</p>
<ul>
    <li>I've spent the last 3 years trying to solve cold fusion. I've done it. Check it out...</li>
    <li>
        Sometimes, when I write code, I use the technique I call "Cheetos from Hell"... where I eat bag after bag of Fire Hot Cheetos to force myself to get out of my chair to use the restroom... Here are my results.
    </li>
    <li>
        I invented a new programming language called Snot. Let's take a look at the example app I wrote, called Hello Tissues.
    </li>
    <li>I wrote this million LOC game in Whitespace, it's called Tab Invaders... We'll walk through it line by line...</li>
</ul>
<p>
    We'll have a laptop setup for short demos (web/app/etc) or if you can cobble together your laptop fast enough, you can use that.
</p>
