<h1>Fall 2006 - Schedule</h1>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                Seminar Room
            </td>
            <td>
                Classroom 3
            </td>
            <td>
                Classroom 7
            </td>
            <td>
                Classroom 1
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:30 - 9:00
        </td>
        <td colspan="4">
            Doors Open - Continental Breakfast (sponsored by <a href="http://www.ilmservice.com">
                ILM Services
            </a>)
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s2")">Improving your Forms with WPF</a><br />
            <i>Chris Sutton</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s19")">Object/Relational Mapping with Hibernate</a><br />
            <i>Bob McCune</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s3")">SharePoint as a Development Platform</a><br />
            <i>Neil Iverson</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s4")">Managing Memory in a Managed World</a><br />
            <i>Chad Yost</i>
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:00 - 11:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s11")">
                Model View Presenter Design and Implementation Within the
                .NET Framework 2.0
            </a><br />
            <i>Chase Thomas</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s13")">Quick and Dirty Functional Testing with Selenium</a><br />
            <i>Steve Peterson</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s7")">SQL Server Integration Services - Performance Tips and Tricks</a><br />
            <i>David Baldauff</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s25")">The State of Languages on the CLR</a><br />
            <i>Jason Bock</i>
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            11:00 - 12:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s26")">Build Innovative Applications Using Amazon Web Services</a><br />
            <i>Jinesh Varia</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s21")">Developing Speech Enabled Applications with .NET</a><br />
            <i>Michael Dunn</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s9")">
                Web Parts Design for SharePoint: The Difference Between
                2003 and 2007 HOL
            </a><br />
            <i>Jim Ferguson</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s23")">Generics Support in .NET 2.0</a><br />
            <i>Doug Nelson</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            12:00 - 1:00
        </td>
        <td colspan="4">
            Lunch (sponsored by <a href="http://www.magenic.com">Magenic</a>)
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            1:00 - 2:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s17")">
                Creating High Performance/High Impact Windows Forms Using
                Custom Controls In .NET 2.0
            </a><br />
            <i>Cory Smith</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s16")">Utilizing .NET Cryptography</a><br />
            <i>Robert Boedigheimer</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s10")">SQL Server 2005 and Async Calls</a><br />
            <i>Ron Hovland</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s8")">Introduction to Programming with the VSTS SDK</a><br />
            <i>Michael Ruminer</i>
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:00 - 3:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s18")">XboxFriends...Under The Covers</a><br />
            <i>Cory Smith</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s15")">ASP.NET 2.0 Configuration Files</a><br />
            <i>Robert Boedigheimer</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s12")">Building Reusable Business Processes with BizTalk Server</a><br />
            <i>Andy Morrison</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s27")">Integrating Ruby on Rails and .NET</a><br />
            <i>Jacob Good</i>
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:00 - 4:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s20")">
                Implementing an Automated Build and Continuous Integration
                Process for .NET Development Projects
            </a><br />
            <i>Mike Jones</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s1")">The Mobile Client Software Factory</a><br />
            <i>Kenny Goers</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s24")">Securing Web Services in WCF</a><br />
            <i>Jeff Knutson</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s5")">Foundations of Ajax</a><br />
            <i>Nathaniel T. Schutta</i>
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            4:00 - 5:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s14")">Building Applications with CSLA .NET</a><br />
            <i>Rockford Lhotka</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s6")">REST and its Discontents</a><br />
            <i>Luke Francl</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s28")">How Does WCF and 3.0 Impact My Coding Techniques?</a><br />
            <i>Scott Yokiel</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2006#s22")">JRuby: Ruby on the JVM</a><br />
            <i>Charles Nutter</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:15
        </td>
        <td colspan="4">
            Closing Remarks and Prizes
        </td>
    </tr>
</table>
