<h1>Fall 2009 - Schedule</h1>
<p>
    Note: The schedule is subject to change up until the day of the event.
</p>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                3-180
            </td>
            <td>
                2-260
            </td>
            <td>
                3-230
            </td>
            <td>
                3-125
            </td>
            <td>
                3-115
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="5">
            Doors Open - Continental Breakfast
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="5">
            Welcome and Introduction From Jason Bock in 3-180
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#it3")">Introduction to Silverlight 3</a><br />
            <i>Gregory Wurm</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss2")">Leveraging Social Networking Tools in your Line of Business Apps</a><br />
            <i>Chris Williams</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss7")">No More Excuses: Test Your Javascript!</a><br />
            <i>Kevin Gisi</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss15")">T4: Stop Coding and Start Generating</a><br />
            <i>Adam Grocholski</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss5")">Backups! Don't Get Caught With Your Pants Down!</a><br />
            <i>Jason Strate</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#it2")">Introduction to Ruby</a><br />
            <i>Brian Hogan</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss9")">So Your Boss Wont Let You Use F# - Functional Programming in C#</a><br />
            <i>Aaron Erickson</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss3")">Leveraging Client Capabilities with jQuery in Visual Studio and ASP.NET</a><br />
            <i>Robert Boedigheimer</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss11")">Building Peer-to-Peer Applications</a><br />
            <i>Jeff Brand</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss20")">Domain Driven Design</a><br />
            <i>Jordan Terrell</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="5">
            Lunch
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#it1")">Introduction to CSS</a><br />
            <i>Robert Boedigheimer</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss17")">LINQ Internals</a><br />
            <i>Keith Dahlby</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss16")">Fun! Fun! Fun! With ASP.NET MVC View Engines</a><br />
            <i>Jon Stonecash</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss8")">Applying the MVVM Pattern in Silverlight/WPF</a><br />
            <i>Rockford Lhotka</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss19")">What Will Pex Do?</a><br />
            <i>Jason Bock</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#it5")">Introduction to XAML</a><br />
            <i>Mike Benkovich</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss14")">Experiences With Multi-Core, HPC Clusters, and GPU Programming</a><br />
            <i>Richard Moore</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss1")">ASP.NET MVC with the Spark View Engine</a><br />
            <i>Donn Felker</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss13")">Managed Extensibility Framework</a><br />
            <i>Steve Hebert</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss18")">How Google App Engine Ruined My Life</a><br />
            <i>Nicolaus Bauman</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#it4")">Introduction to the Microsoft Robotics Developer Studio 2008</a><br />
            <i>Dr. Alan C. Jamieson</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss6")">Extending VS2010: Control your IDE Destiny</a><br />
            <i>Jeff Klawiter</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss10")">Scripting Data Sources and Destinations in SSIS 2008 and SSIS 2008R2</a><br />
            <i>Kent Tegels</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss12")">Audio Synthesis with Silverlight 3</a><br />
            <i>Mike Hodnick</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2009#ss4")">Start Developing Flash Applications...for Free!</a><br />
            <i>Andrew Watson</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="5">
            Final Remarks and Prize Giveaway in 3-180
        </td>
    </tr>
</table>
