<h1>Fall 2007 - Schedule</h1>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                Seminar Room
            </td>
            <td>
                Classroom 3
            </td>
            <td>
                Classroom 7
            </td>
            <td>
                Classroom 8
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="4">
            Doors Open - Continental Breakfast
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="4">
            Welcome and Introduction From Jason Bock in the Seminar Room
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s13")">Emerging Data Tools: LINQ, Astoria and the ADO.NET Entity Framework</a><br />
            <i>Mike Benkovich</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s1")">Quixo 3D: Game Programming in .NET</a><br />
            <i>Jason Bock and Mike Hodnick</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s5")">Simple Web Part Development</a><br />
            <i>Scott Yokiel</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s9")">An Introduction to Windows PowerShell</a><br />
            <i>Doug Nelson</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="4">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s10")">Indexed LINQ</a><br />
            <i>Aaron Erickson</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s14")">WPF, Silverlight and XAML</a><br />
            <i>Mike Benkovich</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s2")">Insane Code Generation</a><br />
            <i>Jon Stonecash</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s3")">NBusiness: An Entity Oriented Programming Library</a><br />
            <i>Justin Chase</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="4">
            Lunch
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s16")">LINQ to XML</a><br />
            <i>Peter Stromquist</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s7")">XNA Game Studio Express for teh total n00b!</a><br />
            <i>Chris Williams</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s6")">Utilizing the ASP.NET Adapter Architecture</a><br />
            <i>Robert Boedigheimer</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s12")">XML Data Type Methods in the Real World</a><br />
            <i>Steve Hughes</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="4">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s17")">Getting REST with WCF</a><br />
            <i>Jeff Brand</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s20")">Advanced Concepts in Software Testing</a><br />
            <i>Bill Ryan</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s19")">Improving ASP.NET User Interfaces with the AJAX Control Toolkit</a><br />
            <i>Robert Boedigheimer</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s15")">Using Microsoft Robotics Studio</a><br />
            <i>Michael Dunn</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="4">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s4")">Build an App using WPF, WCF, WF and CSLA .NET in an Hour</a><br />
            <i>Rocky Lhotka</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s8")">XNA and TorqueX - Let's Make a Game</a><br />
            <i>Chris Williams</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s11")">ASP.NET - Planning for the Presentation</a><br />
            <i>D'Arcy Lussier</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2007#s18")">Hacking Arduino to Create a Cheap Ambient Orb</a><br />
            <i>Dan Bennett</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="4">
            Final Remarks and Prize Giveaway
        </td>
    </tr>
</table>
