<h1>Fall 2010 - Schedule</h1>
<p>
    Note: The schedule is subject to change up until the day of the event.
</p>
<h2>
    Saturday, 10/9
</h2>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                3-180
            </td>
            <td>
                3-210
            </td>
            <td>
                3-230
            </td>
            <td>
                3-115
            </td>
            <td>
                3-125
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="5">
            Doors Open - Continental Breakfast
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="5">
            Welcome and Introduction From TCCC Leadership Team in 3-230
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#i3")">Introduction to Programming on the Google Android Platform</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp16")">Kenny Goers</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s27")">Silverlight 4: Off the Beaten Path</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp21")">Jeff Brand</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s22")">Ruby for the Web</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp17")">Ryan Briones</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s37")">Build Mobile Apps with AIR</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp30")">Chris Black</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s25")">LINQ Internals II: System.Interactive</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp19")">Keith Dahlby</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#i4")">
                Introduction to Silverlight Development on Windows Phone
                7
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp21")">Jeff Brand</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s17")">Your Silverlight app does WHAT?</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp13")">Mike Hodnick</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s19")">Web Development with Ruby - From Simple To Complex</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp5")">Brian Hogan</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s31")">Getting Dirty with Android</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp24")">Brent Edwards</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s6")">Evolving .NET</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp4")">Jason Bock</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="5">
            Lunch
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#i8")">Introduction to PowerShell 2.0</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp19")">Keith Dahlby</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s46")">How to Conquer Startup Fever</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp37")">Andy Pickett</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s52")">Box2D Physics Engine: Quick Start</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp30")">Chris Black</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s29")">Advanced Android Development</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp23")">Donn Felker</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s42")">Leveraging GPUs/Multicore CPUs With .NET and Brahma</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp33")">Ananth Balasubramaniam</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#i5")">Introduction to the Microsoft Data Stack</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp27")">Mike Benkovich</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s30")">Silverlight for Line of Business Apps</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp20")">Scott Davis</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s39")">HTML5 Markup: What Can We Use Now?</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp31")">Stu King</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s18")">MongoDB: Awesomely Dangerous</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp14")">Ethan Gunderson</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s14")">Threading Your Existing Solution</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp10")">Larry Louisiana</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#i6")">Introduction to Windows Azure</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp28")">Tim Star</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s47")">Multi-targeting WPF, Silverlight, and Windows Phone 7</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp15")">Adam Grocholski</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s1")">Cascading Styles Sheets (CSS) for ASP.NET Developers</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp1")">Robert Boedigheimer</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s15")">NoSQL - Exploring Non-Relational Data Storage</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp11")">J Wynia</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s3")">Using F# To Solve Real World Problems</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp2")">Aaron Erickson</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="5">
            Closing Remarks and Prize Giveaway in 3-230
        </td>
    </tr>
</table>
<h2>
    Sunday, 10/10
</h2>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                3-180
            </td>
            <td>
                3-210
            </td>
            <td>
                3-230
            </td>
            <td>
                3-115
            </td>
            <td>
                3-125
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="5">
            Doors Open - Continental Breakfast
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="5">
            Welcome and Introduction From TCCC Leadership Team in 3-230
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            Repeat Talk #1 - TBD
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s45")">
                Modern Version Control Systems: Choosing a Tool That Meets
                Your Needs
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp36")">Robert Altman</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s28")">
                Smooth Streaming in Silverlight with the Silverlight Media
                Framework
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp22")">Vince Bullinger</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s7")">Building Offline Mobile Apps with HTML5 and Web Standards</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp5")">Brian Hogan</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s48")">Tips and Tricks for Code Generation with T4</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp38")">Jon Stonecash</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            Repeat Talk #2 - TBD
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s12")">What's New in the .NET 4.0 BCL</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp4")">Jason Bock</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s32")">Build a Silverlight App with CSLA 4</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp25")">Rockford Lhotka</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s2")">Things Every ASP.NET Developer Should Know</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp1")">Robert Boedigheimer</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s53")">LINQ to Twitter: Learning how to Build a Custom LINQ Provider</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp42")">Joe Mayo</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="5">
            Lunch
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            Repeat Talk #3 - TBD
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s44")">Scrum and Microsoft Visual Studio 2010</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp35")">Scott Koland</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s21")">Getting Down with MEF – Silverlight Edition</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp15")">Adam Grocholski</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s49")">Windows Communication Foundation Mechanics</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp39")">Nazmul Siddiqui</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s9")">jQuery Plugin Development</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp7")">Aaron Godin</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            Repeat Talk #4 - TBD
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s23")">Better Estimates</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp18")">Dan Nordquist</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s8")">Creating Unlimited User Experiences with Silverlight 4.0</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp6")">Jeff Klawiter</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s35")">Visual Studio 2010 with Silverlight and SharePoint 2010</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp27")">Mike Benkovich</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s51")">A First Look at Axum</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp41")">Jeff Ferguson</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            Repeat Talk #5 - TBD
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s16")">
                Introduction To Microsoft SQL Server Reporting Services
                Report Models
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp40")">Mark Vaillancourt</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s34")">Real World Entity Framework - Ride The Unicorn</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp26")">Jaim Zuber</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s50")">An Overview of ASP.NET MVC</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp11")">J Wynia</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2010#s36")">Build an ASP.NET MVC App with CSLA 4</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2010#sp25")">Rockford Lhotka</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="5">
            Closing Remarks and Prize Giveaway in 3-230
        </td>
    </tr>
</table>
