<h1>
    Fall 2013 - Schedule
</h1>
<p>
    Note: The schedule is subject to change up until the day of the event.
</p>
<h2>
    Saturday, 10/19
</h2>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                2-260<br />
                3-210
            </td>
            <td>
                3-230
            </td>
            <td>
                3-180
            </td>
            <td>
                3-115
            </td>
            <td>
                3-125
            </td>
            <td>
                Rapson 45
            </td>
            <td>
                Rapson 56
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="7">
            Registration Starts + Continental Breakfast<br />
            Sponsored by <a href="http://www.growetech.com/" target="_blank">Growe Technologies</a>
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="7">
            Welcome and Introduction From TCCC Leadership Team in 3-180
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            @Html.ActionLink("Meet Angular.JS", "Fall2013", "Sessions", null, null, "s17", null, null) (2-260)<br />
            <i>@Html.ActionLink("Brian Hogan", "Fall2013", "Speakers", null, null, "sp17", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Browser JavaScript Error Tracking", "Fall2013", "Sessions", null, null, "s36", null, null)<br />
            <i>@Html.ActionLink("Todd H. Gardner", "Fall2013", "Speakers", null, null, "sp36", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("T4 - Let Your Code Write Your Code!", "Fall2013", "Sessions", null, null, "s33", null, null)<br />
            <i>@Html.ActionLink("Brandon H", "Fall2013", "Speakers", null, null, "sp33", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("File System API: File I/O for Websites", "Fall2013", "Sessions", null, null, "s25", null, null)<br />
            <i>@Html.ActionLink("Stephen Erstad", "Fall2013", "Speakers", null, null, "sp25", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Level-Up Your Web Dev Toolset With GruntJS", "Fall2013", "Sessions", null, null, "s14", null, null)<br />
            <i>@Html.ActionLink("James Greene", "Fall2013", "Speakers", null, null, "sp14", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("The Haskell Ecosystem", "Fall2013", "Sessions", null, null, "s18", null, null)<br />
            <i>@Html.ActionLink("Erik Rantapaa", "Fall2013", "Speakers", null, null, "sp18", null, null)  and Chris Wilson</i>
        </td>
        <td>
            @Html.ActionLink("Ambition: A New MVC Web Framework for Vala", "Fall2013", "Sessions", null, null, "s2", null, null)<br />
            <i>@Html.ActionLink("Nick Melnick", "Fall2013", "Speakers", null, null, "sp2", null, null)</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="7">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            @Html.ActionLink("HTML5: All Your Games Are Belong to Us", "Fall2013", "Sessions", null, null, "s5", null, null)  (2-260)<br />
            <i>@Html.ActionLink("Erik Onarheim", "Fall2013", "Speakers", null, null, "sp5", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Automate the Things You Hate", "Fall2013", "Sessions", null, null, "s35", null, null)<br />
            <i>@Html.ActionLink("Allen Sanborn", "Fall2013", "Speakers", null, null, "sp35", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("An Overview of D3.js Charting Libraries", "Fall2013", "Sessions", null, null, "s1", null, null)<br />
            <i>@Html.ActionLink("Kristina Durivage", "Fall2013", "Speakers", null, null, "sp1", null, null)</i>
        </td>
        <td>
            @Html.ActionLink(".NET API Frameworks", "Fall2013", "Sessions", null, null, "s16", null, null)<br />
            <i>@Html.ActionLink("Joel Kauffman", "Fall2013", "Speakers", null, null, "sp16", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Intro to Django", "Fall2013", "Sessions", null, null, "s28", null, null)<br />
            <i>@Html.ActionLink("Peter J. Farrell", "Fall2013", "Speakers", null, null, "sp28", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Lambdas for Llamas: TypeScript from Zero to Web App", "Fall2013", "Sessions", null, null, "s31", null, null)<br />
            <i>@Html.ActionLink("Judah Himango", "Fall2013", "Speakers", null, null, "sp31", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Reactive Extensions (Rx) in Action", "Fall2013", "Sessions", null, null, "s21", null, null)<br />
            <i>@Html.ActionLink("Jim Wooley", "Fall2013", "Speakers", null, null, "sp21", null, null)</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="7">
            Lunch Break<br />
            Pizza Sponsored by <a href="http://www.changelane.com/" target="_blank">Change Lane</a><br />
            Free lunch (while it lasts!)! Not too many things go together better than a cool
            startup business and a hot pizza. Stop by the main hallway, grab some pizza — then
            check out what Change Lane™ is doing and see if you can help us.
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            @Html.ActionLink("High Performance JavaScript and CSS", "Fall2013", "Sessions", null, null, "s27", null, null) (3-210)<br />
            <i>@Html.ActionLink("Md Khan", "Fall2013", "Speakers", null, null, "sp27", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("JavaScript as a First-Class Citizen on iOS 7", "Fall2013", "Sessions", null, null, "s7", null, null)<br />
            <i>@Html.ActionLink("Kevin Whinnery", "Fall2013", "Speakers", null, null, "sp7", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Introduction to Service Oriented Architecture", "Fall2013", "Sessions", null, null, "s24", null, null)<br />
            <i>@Html.ActionLink("David Boike", "Fall2013", "Speakers", null, null, "sp24", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Developing Productivity", "Fall2013", "Sessions", null, null, "s30", null, null)<br />
            <i>@Html.ActionLink("Jenna Pederson", "Fall2013", "Speakers", null, null, "sp30", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Single Page Application with Knockout, Breeze, & WebAPI", "Fall2013", "Sessions", null, null, "s32", null, null)<br />
            <i>@Html.ActionLink("Mike R. Emo", "Fall2013", "Speakers", null, null, "sp32", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Windows 8.1 Demo", "Fall2013", "Sessions", null, null, "s20", null, null)<br />
            <i>@Html.ActionLink("David Washington", "Fall2013", "Speakers", null, null, "sp20", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Can You Teach me How to Umbraco?", "Fall2013", "Sessions", null, null, "s11", null, null)<br />
            <i>@Html.ActionLink("Ken Sykora", "Fall2013", "Speakers", null, null, "sp11", null, null)</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="7">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            @Html.ActionLink("Securing The ASP.NET Web API", "Fall2013", "Sessions", null, null, "s23", null, null) (3-210)<br />
            <i>@Html.ActionLink("Brette Esterbrooks", "Fall2013", "Speakers", null, null, "sp23", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Cross-Platform Mobile Development", "Fall2013", "Sessions", null, null, "s10", null, null)<br />
            <i>@Html.ActionLink("Vince Bullinger", "Fall2013", "Speakers", null, null, "sp10", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Creating Ruby Gems: Why and How", "Fall2013", "Sessions", null, null, "s34", null, null)<br />
            <i>@Html.ActionLink("Jason Hsu", "Fall2013", "Speakers", null, null, "sp34", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Internationalize Your JavaScript Application: Prepare for \"the next billion\" Internet Users", "Fall2013", "Sessions", null, null, "s13", null, null)<br />
            <i>@Html.ActionLink("Kevin Hakanson", "Fall2013", "Speakers", null, null, "sp13", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Breaking out of the MVC", "Fall2013", "Sessions", null, null, "s26", null, null)<br />
            <i>@Html.ActionLink("Mike Weber", "Fall2013", "Speakers", null, null, "sp26", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Leveling Up Your Windows Phone App", "Fall2013", "Sessions", null, null, "s9", null, null)<br />
            <i>@Html.ActionLink("Kamran Ayub", "Fall2013", "Speakers", null, null, "sp9", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Using Microsoft’s Business Rules Engine with .NET Clients", "Fall2013", "Sessions", null, null, "s12", null, null)<br />
            <i>@Html.ActionLink("Ed Jones", "Fall2013", "Speakers", null, null, "sp12", null, null)</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="7">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            @Html.ActionLink("JavaScript Tips and Tricks to Make Your Life Easier", "Fall2013", "Sessions", null, null, "s4", null, null) (3-210)<br />
            <i>@Html.ActionLink("Justin Wendlandt", "Fall2013", "Speakers", null, null, "sp4", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("How I Learned to Stop Worrying and Love Google Glass: An Introduction", "Fall2013", "Sessions", null, null, "s8", null, null)<br />
            <i>@Html.ActionLink("Wolf Loescher", "Fall2013", "Speakers", null, null, "sp8", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Fiddler and Your Website", "Fall2013", "Sessions", null, null, "s3", null, null)<br />
            <i>@Html.ActionLink("Robert Boedigheimer", "Fall2013", "Speakers", null, null, "sp3", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Learn the Basics: Inversion of Control", "Fall2013", "Sessions", null, null, "s22", null, null)<br />
            <i>@Html.ActionLink("Adam Barney", "Fall2013", "Speakers", null, null, "sp22", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Git More Done", "Fall2013", "Sessions", null, null, "s29", null, null)<br />
            <i>@Html.ActionLink("Keith Dahlby", "Fall2013", "Speakers", null, null, "sp29", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Cross-platform apps with Windows 8 and Windows Phone 8", "Fall2013", "Sessions", null, null, "s19", null, null)<br />
            <i>@Html.ActionLink("Brent Edwards", "Fall2013", "Speakers", null, null, "sp19", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("FUD in the land of MVC5 and SPAs", "Fall2013", "Sessions", null, null, "s15", null, null)<br />
            <i>@Html.ActionLink("Lyle Luppes", "Fall2013", "Speakers", null, null, "sp15", null, null)</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="7">
            Closing Remarks and Prize Giveaway in 3-210
        </td>
    </tr>
</table>
