<h1>Fall 2012 - Schedule</h1>
<p>
    Note: The schedule is subject to change up until the day of the event.
</p>
<h2>
    Saturday, 10/6
</h2>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                3-210
            </td>
            <td>
                3-180
            </td>
            <td>
                3-115
            </td>
            <td>
                3-125
            </td>
            <td>
                2-260
            </td>
            <td>
                Rapson 56
            </td>
            <td>
                Rapson 58
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="7">
            Registration Starts + Continental Breakfast<br />
            Thank you to AVTEX for sponsoring the breakfast for TCCC13 attendees! We really
            appreciate their support!<br />
            When you see someone in an Avtex Shirt, please take a minute to say “Thank you!”
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="7">
            Welcome and Introduction From TCCC Leadership Team in 3-210
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s27")">Esoteric Programming Languages</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp27")">Jason Bock</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s19")">
                WinRT XAML 101: Styling Gridview, ListView and using Semantic
                Zoom
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp19")">Jeff Klawiter</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s13")">Sorting Spaghetti: Structuring Large JavaScript Applications</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp13")">Todd H Gardner</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s3")">
                A Full-Stack App in 1 Session or Less: SQL Server, Web API
                and Modern UI
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp3")">Mike Marshall</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s22")">Diving into Single Page Applications</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp22")">Vince Bullinger</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s11")">Getting Started with Windows Communication Foundation 4.5</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp11")">Ed Jones</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s30")">
                Introduction to C++ Abstractions, Object-Oriented Concepts,
                and the C++ Renaissance
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp30")">Brian Bosak</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="7">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s25")">Avoiding the Chaos Monkey</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp25")">Brent Stineman</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s20")">Building Modern Applications using CSLA .NET</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp20")">Rockford Lhotka</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s6")">Testing Client-Side Code with Jasmine and CoffeeScript</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp6")">Brian Hogan</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s4")">Introduction to MongoDB for .Net Developers</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp4")">Jaim Zuber</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s21")">The $6 Million Seminar: Demystifying Accessibility</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp21")">Ian Felton</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s12")">Beyond IIS</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp12")">Matt Milner</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s29")">Games and Gamification</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp29")">Scott Davis</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="7">
            Lunch<br />
            One of our sponsors, The Nerdery, is hosting a FREE to attend dine and dash lunch
            at Campus Pizza and Pasta located at 825 Washington Ave SE. Please join them
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s28")">Introduction to Hadoop</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp28")">Brock Noland</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s16")">Windows 8 and HTML/JavaScript (2 Sessions)</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp16")">Jeff Brand</a></i> and <i>
                <a href="@Url.Content("~/Speakers/Fall2012#sp12")">
                    Matt Milner
                </a>
            </i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s14")">Embrace Your Inner Designer</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp26")">Josh Broton</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s5")">RavenDB lovin': .NET does NoSQL</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp5")">Judah Himango</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s15")">
                Goodbye, Passwords! Fast and Secure Cross-Browser Authentication
                With Mozilla Persona
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp15")">Dan Callahan</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s32")">Sorting out Template Method, Strategy, and Fluent Interfaces</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp33")">Jon Marozick</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s7")">Introduction to Coding with Puppet</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp7")">Chris Johnson</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="7">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s17")">Getting the Most Out of Knockout.js</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp17")">Ryan Niemeyer</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s16")">Windows 8 and HTML/JavaScript (2 Sessions)</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp16")">Jeff Brand</a></i> and <i>
                <a href="@Url.Content("~/Speakers/Fall2012#sp12")">
                    Matt Milner
                </a>
            </i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s8")">jQuery Mobile, Web Delivery for All</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp8")">Marc Grabanski</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s2")">Enterprise Service Bus Development with NServiceBus</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp2")">David Boike</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s10")">Delivering Mobile-Friendly Websites with MVC4</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp10")">Lyle Luppes</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s1")">
                Introducing Windows Workflow Foundation 4 in Visual Studio
                2012
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp1")">Philip Nelson</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s9")">Picture Perfect: Images for Coders</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp9")">Kevin W. Gisi</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="7">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s33")">What Hells Angels Taught Us About Website Usability</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp35")">Keith Dahlby</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s18")">Implementing Windows 8 Design Principles</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp18")">Brent Edwards</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s24")">Cross-Platform, Cross-Device, Connected-Apps Oh My!</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp24")">Mike Benkovich</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s31")">Freaky Fast Database Development Tips</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp31")">Rick Krueger</a></i> and <i>
                <a href="@Url.Content("~/Speakers/Fall2012#sp32")">
                    Dave Valentine
                </a>
            </i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s26")">Rocking Responsive Web Development</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp26")">Josh Broton</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s34")">
                Application-Scale JavaScript Development: An Introduction
                to TypeScript
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp36")">Justin Chase</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2012#s23")">Putting Your Database in Source Control</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2012#sp23")">Chad Kulesa</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="7">
            Closing Remarks and Prize Giveaway in 3-210
        </td>
    </tr>
</table>
