<h1>Fall 2008 - Schedule</h1>
<p>
    Note: The schedule is subject to change up until the day of the event.
</p>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                Seminar Room
            </td>
            <td>
                Classroom 3
            </td>
            <td>
                Classroom 7
            </td>
            <td>
                Classroom 2
            </td>
            <td>
                Classroom 8
            </td>
            <td>
                Classroom 9
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="6">
            Doors Open - Continental Breakfast
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="6">
            Welcome and Introduction From Jason Bock in the Seminar Room
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s21")">Exceptional Development: Dealing With Exceptions in .NET</a><br />
            <i>Jason Bock</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s20")">Software Evolution: Inversion and Injection</a><br />
            <i>Jon Stonecash</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s27")">Core: An Aspect Oriented Business Objects Framework</a><br />
            <i>Josh Heyse</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s15")">Becoming a Documentation Ninja</a><br />
            <i>Chris and Brian Hogan</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s2")">Lighten Up! Lighting a 3D World with HLSL</a><br />
            <i>Matt Christian</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s3")">The Intersection of F# and LINQ</a><br />
            <i>Aaron Erickson</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="6">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s16")">Advanced OO Laws & Principles with .NET</a><br />
            <i>Clint Edmonson</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s4")">SharePoint Event Receiver Magic!</a><br />
            <i>Juan Larios</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s14")">CSLA Light: CSLA .NET for Silverlight</a><br />
            <i>Rocky Lhotka</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s30")">WPF 3D Construction Basics</a><br />
            <i>Mike Hodnick</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s9")">So What is Biz Talk Anyway?</a><br />
            <i>D'Arcy Lussier</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s11")">The Arc Programming Language</a><br />
            <i>Kurt Christensen</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="6">
            Lunch
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s29")">LINQ and SQL</a><br />
            <i>Ron Hovland</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s12")">Rendering Great Client-Side Controls With ASP.NET MVC</a><br />
            <i>Chris Sutton</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s10")">Why Should Developers Care About Security?</a><br />
            <i>Jeff Knutson</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s19")">A Survey of Future Operating Systems</a><br />
            <i>David Pinch</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s13")">XNA Overview</a><br />
            <i>Chris Williams</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s8")">BOO! A Wrist-Friendly Language for the CLI</a><br />
            <i>Justin Chase</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="6">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s22")">From Scratch to Finish: Building an Application That Interacts</a><br />
            <i>Corey Miller</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s7")">Introducing Continuous Integration to Your Project</a><br />
            <i>Kirstin Juhl</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s17")">Smooth Operator: Using the Workflow Rules Engine Within WCF</a><br />
            <i>Donn Felker</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s18")">Building MyTube with Microsoft Silverlight 2</a><br />
            <i>Jeff Brand</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s28")">Build a Better MOSSetrap: Getting Started with SP Development</a><br />
            <i>Jim Ferguson</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s26")">Internet Explorer 8 and its Impact on Your Web Sites</a><br />
            <i>Robert Boedigheimer</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="6">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s5")">Jumpstart Your Web Site with ASP.NET Dynamic Data</a><br />
            <i>Robert Boedigheimer</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s23")">Entity Framework - Building Applications On Top Of It</a><br />
            <i>Johan Wettstrom</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s25")">Using WPF to build LOB Applications</a><br />
            <i>Shannon Braun</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s24")">Amazon Flipper</a><br />
            <i>Mike Benkovich</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s1")">Demystifying Analysis Services 2008</a><br />
            <i>David Baldauff</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2008#s6")">PICK/Multivalue 101</a><br />
            <i>Jeff Klawiter</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="6">
            Final Remarks and Prize Giveaway
        </td>
    </tr>
</table>
