<h1>Fall 2011 - Schedule</h1>
<p>
    Note: The schedule is subject to change up until the day of the event. Submit reviews
    <a href="http://tccc.agilevent.com/" target="_blank">here</a>.
</p>
<h2>
    Saturday, 10/8
</h2>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                3-210
            </td>
            <td>
                3-230
            </td>
            <td>
                3-180
            </td>
            <td>
                3-115
            </td>
            <td>
                3-125
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="5">
            Doors Open - Continental Breakfast Sponsored by <a href="http://thomsonreuters.com/"
                                                               target="_blank">Thomson Reuters</a>
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="5">
            Welcome and Introduction From TCCC Leadership Team in 3-210
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s46")">Samba in the Age of Microsoft Glasnost</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp40")">Christopher Hertel</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s2")">Introduction to Apache Hadoop</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp2")">Brock Noland</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s39")">Getting Func-y with C# and F#</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp32")">Keith Dahlby</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s31")">
                Understanding Relational Databases for Maximizing Application
                Performance
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp26")">David Berry</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s17")">Modding The Elder Scrolls IV: Oblivion</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp11")">Matt Christian</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s37")">HTML5 Graphics: Pretty Pictures for Practical Processes</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp31")">Jon Stonecash</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s40")">What Can Windows Workflow 4 do For You?</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp33")">Chad Kulesa</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s10")">Static Analysis in .NET</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp7")">Jason Bock</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s29")">
                F# &gt; C# - What F# Does That You Can't (Easily) do in
                C#
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp24")">Aaron Erickson</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s22")">
                Introduction to Unit Testing: Making Developers Happy and
                Software Awesome
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp18")">Todd H. Gardner</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="5">
            Lunch
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s42")">WCF Web API</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp35")">Nazmul Siddiqui</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s30")">You Can Do What in Windows Azure?!</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp25")">Adam Grocholski</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s24")">
                Implementing Messaging Patterns in JavaScript Using the
                OpenAjax Hub
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp20")">Kevin Hakanson</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s27")">Practical Monads in C#: Maybe&lt;T&gt;</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp23")">Jordan Terrell</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s33")">Javascript: History and Functional Awesomesauce</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp28")">Walker Wilkins</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s14")">MVVM Light Toolkit</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp9")">Scott K. Davis</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s9")">What's New in Windows Azure Release 1.5</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp39")">Mike Benkovich</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s45")">Building Metro-style applications for Windows 8</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp38")">Steve Peterson</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s11")">Windows Phone Development with "Mango"</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp8")">Jeff Brand</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s36")">
                Cross-Platform Mobile Development for the Enterprise: Building
                Applications with .NET/C# and Mono
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp30")">Kenny Goers</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s18")">Web Development Recipes</a><br />
            <i>
                <a href="@Url.Content("~/Speakers/Fall2011#sp12")">Brian Hogan</a>, <a href="@Url.Content("~/Speakers/Fall2011#sp13")">
                    Mike
                    Weber
                </a>, <a href="@Url.Content("~/Speakers/Fall2011#sp14")">Chris Johnson</a> and <a href="@Url.Content("~/Speakers/Fall2011#sp15")">
                    Aaron Godin
                </a>
            </i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s8")">Introduction to Cross-Platform .NET Development</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp41")">Brian Bosak</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s21")">Making the Leap to Freelance Programming</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp17")">Avonelle Lovhaug</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s43")">Introduction to iPhone Development with C# & MonoTouch</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp36")">Jaim Zuber</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s38")">Distributed Version Control: Attack of the Clones</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp32")">Keith Dahlby</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="5">
            Closing Remarks and Prize Giveaway in 3-210
        </td>
    </tr>
</table>
<h2>
    Sunday, 10/9
</h2>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                3-210
            </td>
            <td>
                3-230
            </td>
            <td>
                3-180
            </td>
            <td>
                3-115
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="4">
            Doors Open - Continental Breakfast Sponsored by <a href="http://thomsonreuters.com/"
                                                               target="_blank">Thomson Reuters</a>
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="4">
            Welcome and Introduction From TCCC Leadership Team in 3-210
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s12")">Expression Blend for Developers</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp8")">Jeff Brand</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s7")">Level-Up Your Win7 Kinect Apps</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp5")">Mike Hodnick</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s6")">Introduction to Design Patterns</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp4")">Brian Gorman</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s23")">Creating DSLs with meta#</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp19")">Justin Chase</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="4">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s34")">KnockoutJS: Web Development Bliss</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp29")">Judah Himango</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s3")">Common and Unique Apache Hadoop Use Cases</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp2")">Brock Noland</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s32")">Introduction to Powershell</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp27")">Loren Halvorson</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s28")">Exodata: Ioc for Data</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp23")">Jordan Terrell</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="4">
            Lunch
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s25")">Intro to HTML5 Canvas: A Crash Course</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp21")">Kevin Moot</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s19")">Silverlight Motion Detector for Windows 7 and Windows Phone</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp16")">Jeff Klawiter</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s15")">XNA-Based Game Engine</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp10")">Larry Louisiana</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s26")">Getting Dirty with Windows Phone 7</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp22")">Brent Edwards</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="4">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s35")">Web Development with CoffeeScript and Sass</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp12")">Brian Hogan</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s20")">Software Estimating Tips from the Trenches</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp17")">Avonelle Lovhaug</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s1")">So You Want to Create Your Own Rock Band Tracks</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp1")">Ken Sykora</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s4")">Microsoft Dynamics CRM Development and Integration</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp3")">Jamie Miley</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="4">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s5")">Introduction to WCF Rest Services</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp4")">Brian Gorman</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s44")">Writing Clojure Macros</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp37")">Kurt Christensen</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s41")">A First Look at Silverlight 5</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp34")">Vince Bullinger</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Fall2011#s16")">Windows Identity Foundation (WIF)</a><br />
            <i><a href="@Url.Content("~/Speakers/Fall2011#sp10")">Larry Louisiana</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="4">
            Closing Remarks and Prize Giveaway in 3-210
        </td>
    </tr>
</table>
