<h1>Spring 2011 - Schedule</h1>
<p>
    Note: The schedule is subject to change up until the day of the event.
</p>
<h2>
    Saturday, 4/9
</h2>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                3-210
            </td>
            <td>
                3-230
            </td>
            <td>
                3-115
            </td>
            <td>
                3-125
            </td>
            <td>
                Amundsen Hall B75
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="5">
            Doors Open - Continental Breakfast
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="5">
            Welcome and Introduction From TCCC Leadership Team in 3-210
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss12")">
                In-Depth Unit/Integration Testing Using VS2010, TFS-2010
                and Other Platforms/Frameworks
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp17")">Baskin I. Tapkan</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss22")">Enhancing User Experiences With Reactive Extensions</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp24")">Bryan Anderson</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Speakers/Spring2011#it1")">Introduction to F#</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp1")">Jacob VanScoy</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss24")">Getting Started with Windows Azure Development</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp27")">Brent Stineman</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss13")">Background Jobs with Resque</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp18")">Jon Homan</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss1")">Lessons Learned Building CSLA .NET</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp15")">Rockford Lhotka</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss5")">Getting Dirty With Windows Phone 7</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp8")">Brent Edwards</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#it4")">Introduction to Grails</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp10")">Christopher Bartling</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss44")">Become Comfortable with WCF Systems Design</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp47")">Joshua Ramirez</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss30")">Using Clojure - Kurt Christensen</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp34")">Kurt Christensen</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="5">
            Lunch
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss41")">Advanced Topics in Debugging With Visual Studio</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp44")">Jon Stonecash</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss20")">MVVM in the Real World</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp24")">Bryan Anderson</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#it7")">Introduction to the BlackBerry PlayBook</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp43")">Chris Black</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss45")">Git More Done</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp35")">Keith Dahlby</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss34")">Powershell Eye for the Monitoring Guy</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp37")">Zach Mattson</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss21")">Automated Web Testing in Team System 2010</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp25")">Jeffrey Byboth</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss23")">Developing a Windows Phone 7 App for Business Users</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp26")">Erik Mau</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#it5")">Introduction to Advanced Ruby</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp16")">Brian Hogan</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss42")">Extended Events, Work Smarter Not Harder</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp45")">Jason Strate</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss38")">
                Everything You Ever Wanted to Know About the Razor View
                Engine for MVC
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp40")">Vince Bullinger</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss10")">CSLA .NET on Android</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp15")">Rockford Lhotka</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss18")">
                Getting Started with MultiScreen Development using Silverlight
                and MVVM
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp21")">Jeff Brand</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#it6")">Introduction to Android Tablet Development - Donn Felker</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp23")">Donn Felker</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss25")">Windows Azure Platform Roundtable</a><br />
            <i>
                <a href="@Url.Content("~/Speakers/Spring2011#sp27")">Brent Stineman</a>, <a href="@Url.Content("~/Speakers/Spring2011#sp28")">
                    Jim
                    White
                </a>, and Adam Grocholski
            </i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#it8")">Introduction to Scala</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp36")">Dan Chamberlain</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="5">
            Closing Remarks and Prize Giveaway in 3-210
        </td>
    </tr>
</table>
<h2>
    Sunday, 4/10
</h2>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                3-210
            </td>
            <td>
                3-230
            </td>
            <td>
                3-115
            </td>
            <td>
                3-125
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="4">
            Doors Open - Continental Breakfast
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="4">
            Welcome and Introduction From TCCC Leadership Team in 3-210
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss4")">Heal Your Code with Rx</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp7")">Judah Himango</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss15")">Using Agile Development Techniques</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp34")">Kurt Christensen</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss26")">Distributed Application Development with NServiceBus</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp30")">David Boike</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss33")">Dynamic .NET Demystified</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp35")">Keith Dahlby</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="4">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss37")">Dev for the XBox Kinect with .NET</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp39")">Mike Hodnick</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss2")">Making the Leap to Freelance Programming</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp3")">Avonelle Lovhaug</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss11")">
                Turning Passion Into Words - Tips, Tricks, and Tools for
                Aspiring Authors
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp16")">Brian Hogan</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss29")">Introduction to Apache Hadoop</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp5")">Brock Noland</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="4">
            Lunch
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss40")">"I Didn't Know You Could Do That!" – .Net Tips and Tricks</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp42")">Jon von Gillern</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss39")">A Journey into Mobile Development</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp41")">Brian Hugh</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss3")">Welcome to NodeJS</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp4")">Marc Harter</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#it3")">Introduction to Testing Any Site With Cucumber and Selenium</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp6")">Chris Johnson</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="4">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss6")">Data Visualization and Web Applications</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp9")">Aaron Godin</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss43")">Enterprise iOS Development with MonoTouch in C#</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp46")">Kenny Goers</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss27")">
                Build a N-Tier App with Entity Framework, WCF Data Services,
                and ASP.NET MVC
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp31")">Dave Stienessen</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss7")">
                Acceptance Test Driven Development with SpecFlow, WatiN,
                and WebAii
            </a><br />
            <i>
                <a href="@Url.Content("~/Speakers/Spring2011#sp10")">Christopher Bartling</a> and <a href="@Url.Content("~/Speakers/Spring2011#sp11")">
                    Joel Levandoski
                </a>
            </i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="4">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss17")">Secure Coding Practices for .NET</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp20")">Glenn Leifheit</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss28")">Introduction to jQuery</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp48")">Brad Candell</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#it2")">Introduction to BASH Shell Scripting</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp5")">Brock Noland</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2011#ss36")">TDD Dojo: Test-Driven Development by Example</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2011#sp38")">Todd H. Gardner</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="4">
            Closing Remarks and Prize Giveaway in 3-210
        </td>
    </tr>
</table>
