<h1>
    Spring 2013 - Schedule
</h1>
<p>
    Note: The schedule is subject to change up until the day of the event.
</p>
<h2>
    Saturday, 4/27
</h2>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                3-210
            </td>
            <td>
                3-230
            </td>
            <td>
                3-115
            </td>
            <td>
                3-125
            </td>
            <td>
                Rapson 54
            </td>
            <td>
                Rapson 56
            </td>
            <td>
                Rapson 58
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="7">
            Registration Starts + Continental Breakfast<br />
            Thank you to Thomson Reuters for sponsoring the breakfast for TCCC14 attendees!
            We really appreciate their support!<br />
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="7">
            Welcome and Introduction From TCCC Leadership Team in 3-210
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s18")">Developer's Guide to JavaScript and Web Cryptography</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp18")">Kevin Hakanson</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s34")">
                Building Connected Apps – Patterns, Practices and Mobile
                Services
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp34")">Mike Benkovich</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s31")">Data Mining Using Open Tools</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp31")">Brock Fredin</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s9")">Code Portability in .NET</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp9")">Barry Stahl</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s30")">Introducing Meteor: A Reactive App Framework</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp30")">Tim Heckel</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s13")">
                Build Your Mobile Applications Faster With ZUMO (Windows
                Azure Mobile Services)
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp13")">Matt Milner</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s4")">Windows Store Tips & Tricks</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp4")">Adam Grocholski</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="7">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s2")">Get Visual - An Intro to Data Visualization in Javascript</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp2")">Kristina Durivage</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s26")">Dipping Your Toes Into Mobile: The Low-Hanging Fruit</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp26")">Vince Bullinger</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s23")">Using Lean for Product Development</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp23")">Doug Rhoten</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s21")">Real-Time Web Applications Using Windows Azure and SignalR</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp21")">Justin Wendlandt</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s25")">9 Tips for a clean BackboneJS App</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp25")">Adam Terlson</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s33")">Workflow Manager and Service Bus</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp33")">Andreas Erben</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s27")">From the Front-line: Windows 8 Store Apps by the Numbers</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp27")">Josh Pierce and Joe Luhman</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="7">
            Lunch Break - Sponsored by the Nerdery
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s22")">Diving Into the Deep with Web API</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp22")">Kamran Ayub</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s12")">Big Data or Big Hype - Analytics from the Developer Perspective</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp12")">Aaron Erickson</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s20")">Implementing Modern Design Principles</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp20")">Brent Edwards</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s32")">Powershell for .Net Developers</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp32")">Brad Candell</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s15")">Zero to Deployed with Ruby on Rails</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp15")">Melissa Voegeli</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s3")">Web Browser === Synthesizer</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp3")">Mike Hodnick</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s1")">Using Sprache and C# to parse text and build DSLs</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp1")">Jordan Terrell</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="7">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s24")">Building a Single Page App the Easy Way With Durandal, Knockout and FluentKnockoutHelpers</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp24")">John Culviner</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s28")">C# From Abstract to Yield: How Well do You Really Know C#?</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp28")">Keith Dahlby</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s14")">Documentation Driven Development</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp14")">Corey Oordt</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s19")">Windows 8 and Data</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp19")">Jeff Brand</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s10")">From Ruby to Haskell: how they are more alike than you might think!</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp10")">Chris Wilson</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s17")">Introduction to Grails</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp17")">Kyle Boon</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s6")">Developing a Messaging Solution with BizTalk 2013</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp6")">Ed Jones</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="7">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s29")">Responsive Web Design with jQuery Mobile</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp29")">Brad Broulik</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s11")">No-screen User Interfaces</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp11")">Kevin Whinnery</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s5")">Level Up! - Understanding Hypermedia to Achieve the Highest Level of REST</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp5")">Ian Felton</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s8")">Building Modern Apps with Windows 8 and Azure</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp8")">Rockford Lhotka</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s16")">JRuby</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp16")">Brian Hogan</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s35")">How To Pitch a Groovy Tent in a Java Code Base</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp35")">Wendy Istvanick</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2013#s7")">Custom .Net Application Monitoring using SCOM 2012 sp1 and the Global Service Monitor</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2013#sp7")">Brad Skeel</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="7">
            Closing Remarks and Prize Giveaway in 3-210
        </td>
    </tr>
</table>
