<h1>Spring 2010 - Schedule</h1>
<p>
    Note: The schedule is subject to change up until the day of the event.
</p>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                3-210
            </td>
            <td>
                3-230
            </td>
            <td>
                3-115
            </td>
            <td>
                3-125
            </td>
            <td>
                ME108
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="5">
            Doors Open - Continental Breakfast
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="5">
            Welcome and Introduction in 3-230
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#it4")">Introduction to Go</a><br />
            <i>Kevin W. Gisi</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss17")">Developing for Windows Phone</a><br />
            <i>Jeff Brand</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss11")">HTTP Optimization Lessons From WestlawNext</a><br />
            <i>Dan Bennett</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss12")">Agile Development and Getting Things Done</a><br />
            <i>Dan Nordquist</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss14")">Everything You Wanted to Know About Velocity But Were Afraid To Cache</a><br />
            <i>Scott Colestock</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#it5")">Introduction to ADO.NET Entity Framework</a><br />
            <i>Patrick Kragthorpe-Shirley</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss4")">WPF with MVVM: From the Trenches</a><br />
            <i>Brent Edwards</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss5")">HTML5 and CSS3 Today</a><br />
            <i>Brian Hogan</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss2")">.NET Continuous Integration with Hudson and Nant</a><br />
            <i>Todd H. Gardner</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss13")">Happy Tasty Clojure</a><br />
            <i>Kurt Christensen</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="5">
            Lunch
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#it3")">Introduction to Distributed Source Control with Mercurial</a><br />
            <i>Chris Sutton</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss8")">Advanced RIA Services</a><br />
            <i>Scott Davis</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss9")">RESTing in the ASP.NET MVC Framework</a><br />
            <i>Gus Emery</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss7")">Loose Coupling - Understanding Dependency Injection and Inversion of Control</a><br />
            <i>Shannon Braun</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss18")">Imposing Order on Chaos with Reactive Extensions</a><br />
            <i>Jon Stonecash</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#it2")">Introduction to Developing with Android</a><br />
            <i>Donn Felker</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss20")">Dynamic .NET Demystified</a><br />
            <i>Keith Dahlby</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss19")">ASP.NET 4.0 and Visual Studio 2010</a><br />
            <i>Robert Boedigheimer</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss16")">Kanban to Cash: Stolen Ideas Make A Beautiful Process</a><br />
            <i>Lee Brandt</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss3")">Regular Expressions for Fun and Profit</a><br />
            <i>Jon von Gillern</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#it1")">Introduction to C# 4.0 - Explore the Amazing Possibilities</a><br />
            <i>Aaron Erickson</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss1")">What's New in CSLA .NET 4.0</a><br />
            <i>Rockford Lhotka</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss15")">ASP.NET MVC and Open Source Tools...Them's Is Like Peas and Carrots</a><br />
            <i>Javier Lozano</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss6")">DIY Project Hosting: Build Your Own Private Codeplex/Sourceforge/Github</a><br />
            <i>J Wynia</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2010#ss10")">I Need to Secure My Software...Now What?</a><br />
            <i>Glenn Leifheit</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="5">
            Final Remarks and Prize Giveaway in 3-230
        </td>
    </tr>
</table>
