<h1>Spring 2008 - Schedule</h1>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                Seminar Room
            </td>
            <td>
                Classroom 3
            </td>
            <td>
                Classroom 7
            </td>
            <td>
                Classroom 2
            </td>
            <td>
                Classroom 8
            </td>
            <td>
                Classroom 9
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="6">
            Doors Open - Continental Breakfast
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="6">
            Welcome and Introduction From Jason Bock in the Seminar Room
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s9")">Introducing the ASP.NET MVC Framework</a><br />
            <i>D'Arcy Lussier</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s1")">ORM – Not Just for Meditation Any More</a><br />
            <i>Jon Stonecash</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s26")">Windows Workflow Steppin' Out</a><br />
            <i>Ron Hovland</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s13")">Introduction to Ruby on Rails</a><br />
            <i>Chris Johnson</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s4")">F#, The Business Case</a><br />
            <i>Aaron Erickson</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s29")">Making SharePoint WCM Work for You</a><br />
            <i>Jerry Sevier</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="6">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s19")">More Advanced ASP.Net MVC</a><br />
            <i>Chris Sutton</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s8")">A Code Review of SQL Server 2008 Features</a><br />
            <i>David Baldauff</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s10")">What Can I do With WCF in .NET 3.5?</a><br />
            <i>Jeff Knutson</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s14")">User Defined Functions and Excel Services in MOSS 2007</a><br />
            <i>Scott Yokiel</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s3")">Web Parts for Web Pages</a><br />
            <i>Carl Boudreau</i>
        </td>
        <td>
            ???
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="6">
            Lunch
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s23")">Things Every ASP.NET Developer Should Know</a><br />
            <i>Robert Boedigheimer</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s5")">A Developer's Introduction to Spatial Computing with SQL Server 2008</a><br />
            <i>Kent Tegels</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s21")">Microsoft Silverlight and the SOA Architecture</a><br />
            <i>Colin Harrington</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s27")">SharePoint MasterPages: Through the Looking Glass...</a><br />
            <i>Jim Ferguson</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s24")">Game AI: Creating the Illusion of Intelligent Behavior in Your Characters</a><br />
            <i>Chris Williams</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s20")">Extending PowerShell for Developers</a><br />
            <i>Neil Iversen</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="6">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s2")">Writing Better Code</a><br />
            <i>Jason Bock</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s17")">Explore What's New in SQL Server Reporting Services 2008</a><br />
            <i>John Thurow</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s11")">Silverlight For Developers - Making it Pass the Glitz</a><br />
            <i>Javier Lozano</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s22")">SharePoint Development - Beyond the Object Model</a><br />
            <i>Raymond Mitchell</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s25")">How to Build Your Own Visual Studio Integration Package</a><br />
            <i>Justin Chase</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s28")">ASP.NET Webforms and MVC...Without The MVC Framework</a><br />
            <i>D'Arcy Lussier</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="6">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s12")">First Look at CSLA .NET 3.5</a><br />
            <i>Rockford Lhotka</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s18")">Becoming 'The SQL Guy' in your Organization</a><br />
            <i>Greg Wilson</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s15")">Tapping the Power of LINQ</a><br />
            <i>Peter Stromquist</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s6")">Extending SharePoint Search with the Search API</a><br />
            <i>Mike Hodnick</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s16")">The Asteroid's Game From Scratch in 60 Minutes, With ActionScript 3 and Flash CS3</a><br />
            <i>Saviz Artang</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2008#s7")">A Tour of the Parallel Extensions to the .NET Framework</a><br />
            <i>Jeff Ferguson</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="6">
            Final Remarks and Prize Giveaway
        </td>
    </tr>
</table>
