<h1>Spring 2009 - Schedule</h1>
<p>
    Note: The schedule is subject to change up until the day of the event.
</p>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                Amundsen B75
            </td>
            <td>
                EE/CS03230
            </td>
            <td>
                EE/CS03180
            </td>
            <td>
                EE/CS03125
            </td>
            <td>
                EE/CS03115
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="5">
            Doors Open - Continental Breakfast in EE/CS03180
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="5">
            Welcome and Introduction From Jason Bock in EE/CS03180
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s11")">Introduction to F#</a><br />
            <i>Keith Dahlby</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s25")">
                Working with WPF (aka "Let's build yet another Twitter
                application.")
            </a><br />
            <i>Cory Smith</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s8")">Increasing your Productivity with Visual Studio</a><br />
            <i>Jeff Klawiter</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s7")">Firefox Extensions: Making Your Web Application More Accessible</a><br />
            <i>Kevin Gisi</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s1")">Developing for Windows Mobile Devices</a><br />
            <i>Mike Benkovich</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s12")">Real World ASP.NET MVC</a><br />
            <i>Gus Emery</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s18")">DemoFEST: SQL 2008, AJAX and the Virtual Earth SDK</a><br />
            <i>Mike Benkovich</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s13")">Testing with Mocks</a><br />
            <i>Donn Felker</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s23")">Groovy Metaprogramming</a><br />
            <i>Hamlet D'Arcy and Scott Vlaminck</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s2")">Practical Parallelism</a><br />
            <i>Rockford Lhotka</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="5">
            Lunch in the Atrium
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s6")">Introduction to the Building Composite WPF Applications</a><br />
            <i>Jefferson Brand</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s22")">Building Better Applications with UX Principles</a><br />
            <i>Corey Miller</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s21")">
                A Walk on the Wild Side: Imposing Structure on an Unstructured
                World
            </a><br />
            <i>Jon Stonecash</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s17")">Intro to iPhone Development</a><br />
            <i>Dan Bennett and Jay Peyer</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s3")">
                Self-Writing Programs - Using Expressions in C# to Write
                Code that Writes Code
            </a><br />
            <i>Aaron Erickson</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s19")">
                Implementing Presentation Patterns that Truly Work Across
                Platforms
            </a><br />
            <i>Adam Grocholski</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s15")">Surface Is Hot!</a><br />
            <i>Brian Lockwood</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s20")">Become the Master of Your Domain with Domain Specific Languages</a><br />
            <i>Justin Chase</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s5")">Rails and Legacy Databases</a><br />
            <i>Chris Johnson</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s10")">
                Building a Dynamic Game Engine in XNA: Giving Power Back
                to the Creators
            </a><br />
            <i>Matthew Christian</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s4")">Silverlight Development: Lessons from the Trenches</a><br />
            <i>D'Arcy Lussier</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s24")">Code-Free WPF Data Binding</a><br />
            <i>Kirstin Juhl</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s9")">
                Creating Build Processes with MSBuild 3.5 and Team Foundation
                Server 2008 SP1
            </a><br />
            <i>Dan Sniderman</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s16")">
                Learning to Walk in Shoes - A Fun and Easy Framework for
                Cross-Platform GUI Apps
            </a><br />
            <i>Brian Hogan</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2009#s14")">Silverlight and the Farseer Physics Engine</a><br />
            <i>Mike Hodnick</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="5">
            Final Remarks and Prize Giveaway in EE/CS03210
        </td>
    </tr>
</table>
