<h1>Spring 2007 - Schedule</h1>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                Seminar Room
            </td>
            <td>
                Classroom 3
            </td>
            <td>
                Classroom 7
            </td>
            <td>
                Classroom 1
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:30 - 9:00
        </td>
        <td colspan="4">
            Doors Open - Continental Breakfast
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s16")">Web Developers Guide to IIS 7</a><br />
            <i>Robert Boedigheimer</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s13")">Reflection in .NET: Hacking and Futzing With IL</a><br />
            <i>Jason Bock</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s7")">Extending Microsoft Office 2007 as a Platform</a><br />
            <i>Scott Yokiel</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s4")">Delegation and Kerberos in the Enterprise</a><br />
            <i>David Baldauff</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="4">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s15")">There Must be Fifty Ways to Unit Test Your Software</a><br />
            <i>Jon Stonecash</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s10")">Inside the WCF Web Service Software Factory</a><br />
            <i>Jeff Knutson and Dan Mork</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s1")">3D Construction Basics in WPF</a><br />
            <i>Mike Hodnick</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s2")">CPU and Game Emulation Design</a><br />
            <i>David Pinch</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="4">
            Lunch - Chalk Talks From 12:00 - 12:30
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s17")">What Ruby on Rails can Teach .NET Developers</a><br />
            <i>Dan Mork and John Howes</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s11")">An Introduction to PowerShell</a><br />
            <i>Neil Iversen</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s9")">If Darwin Could Write Code</a><br />
            <i>Jacob Good</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s5")">
                Developing Business Activity Monitoring Solutions with BizTalk
                Server's BAM Features
            </a><br />
            <i>Andy Morrison</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="4">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s6")">Developing for Windows Vista using Visual Studio 2005</a><br />
            <i>Cory Smith</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s8")">Gathering and Managing Requirements</a><br />
            <i>Tim Wold</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s12")">Practical iBatis Implementations using C#</a><br />
            <i>Mark McConnell</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s18")">World of Warcraft Add-on Development</a><br />
            <i>Michael Dunn</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="4">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s3")">CSLA .NET 3.0 Preview</a><br />
            <i>Rocky Lhotka</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s14")">Subversion For Windows Developers</a><br />
            <i>Steve Baker</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s19")">Simple Data Access with Subsonic</a><br />
            <i>Chris Sutton</i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2007#s20")">Bring the Power of Windows Desktop Search to Your Applications</a><br />
            <i>Arian Kulp</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="4">
            Final Remarks and Prize Giveaway
        </td>
    </tr>
</table>
<h2>
    Chalk Talks
</h2>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Classroom 1
            </td>
            <td>
                Classroom 3
            </td>
            <td>
                Classroom 4
            </td>
            <td>
                Classroom 7
            </td>
            <td>
                Classroom 8
            </td>
            <td>
                Classroom 9
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            Obfuscation<br />
            <i>Cory Smith</i>
        </td>
        <td>
            Web Part Development<br />
            <i>Neil Iversen</i>
        </td>
        <td>
            Everything Speech<br />
            <i>Michael Dunn</i>
        </td>
        <td>
            Beyond Orcas - Where is Microsoft Going?<br />
            <i>Jason Bock</i>
        </td>
        <td>
            SSIS Tips and Tricks<br />
            <i>David Balduff</i>
        </td>
        <td>
            How to Write Bad Code<br />
            <i>Tim Wold</i>
        </td>
    </tr>
</table>
<p>
    Note: The schedule is subject to change up until the day of the event.
</p>
