<h1>Spring 2014 - Schedule</h1>
<p>
    Note: The schedule is subject to change up until the day of the event.
</p>
<h2>
    Saturday, 4/5
</h2>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                3-210
            </td>
            <td>
                3-230
            </td>
            <td>
                3-115
            </td>
            <td>
                3-125
            </td>
            <td>
                Rapson 43
            </td>
            <td>
                Rapson 54
            </td>
            <td>
                Rapson 31
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="7">
            Registration Starts + Continental Breakfast<br />
            Sponsored by <a href="http://www.ilmservice.com/" target="_blank">ILM</a><br />
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="7">
            Welcome and Introduction From TCCC Leadership Team in 3-210
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            @Html.ActionLink("Introduction to Angular.js", "Spring2014", "Sessions", null, null, "s1", null, null)<br />
            <i>@Html.ActionLink("John Culviner", "Spring2014", "Speakers", null, null, "sp1", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Designing Touch-First App User Experiences", "Spring2014", "Sessions", null, null, "s4", null, null)<br />
            <i>@Html.ActionLink("David Washington", "Spring2014", "Speakers", null, null, "sp4", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Visual Studio Automation", "Spring2014", "Sessions", null, null, "s25", null, null)<br />
            <i>@Html.ActionLink("Justin Wendlandt", "Spring2014", "Speakers", null, null, "sp25", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Regex Searches: Ain't Nobody Got Time for That!", "Spring2014", "Sessions", null, null, "s18", null, null)<br />
            <i>@Html.ActionLink("David Shepherd", "Spring2014", "Speakers", null, null, "sp18", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Intro to Google Glass Development With the GDK", "Spring2014", "Sessions", null, null, "s36", null, null)<br />
            <i>@Html.ActionLink("Norton Lam", "Spring2014", "Speakers", null, null, "sp36", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("What is DevOps/Infrastructure as Code and Why Should I Care?", "Spring2014", "Sessions", null, null, "s13", null, null)<br />
            <i>@Html.ActionLink("Jason Clifford", "Spring2014", "Speakers", null, null, "sp13", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Vagrant Up", "Spring2014", "Sessions", null, null, "s29", null, null)<br />
            <i>@Html.ActionLink("Kyle Boon", "Spring2014", "Speakers", null, null, "sp29", null, null)</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="7">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            @Html.ActionLink("Angular Tips and Tricks From a Newbie for Newbies", "Spring2014", "Sessions", null, null, "s32", null, null) <br />
            <i>@Html.ActionLink("Ken Korth", "Spring2014", "Speakers", null, null, "sp32", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Mobility: Designing & Developing for Tablets and Smartphones", "Spring2014", "Sessions", null, null, "s31", null, null)<br />
            <i>@Html.ActionLink("Lou Miranda", "Spring2014", "Speakers", null, null, "sp31", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Don't <blink>: How Web Components will Redefine the Web", "Spring2014", "Sessions", null, null, "s6", null, null)<br />
            <i>@Html.ActionLink("Dan Callahan", "Spring2014", "Speakers", null, null, "sp6", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Agile Testing with a Side of TDD", "Spring2014", "Sessions", null, null, "s26", null, null)<br />
            <i>@Html.ActionLink("Jenna Pederson", "Spring2014", "Speakers", null, null, "sp26", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Markdown - In Praise of Plain Text", "Spring2014", "Sessions", null, null, "s23", null, null)<br />
            <i>@Html.ActionLink("Dan Nordquist", "Spring2014", "Speakers", null, null, "sp23", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Learning the Managed Extensibility Framework", "Spring2014", "Sessions", null, null, "s21", null, null)<br />
            <i>@Html.ActionLink("James McConnell", "Spring2014", "Speakers", null, null, "sp21", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Making Massive Apps Mini: Google's Closure Compiler", "Spring2014", "Sessions", null, null, "s11", null, null)<br />
            <i>@Html.ActionLink("Nate Young", "Spring2014", "Speakers", null, null, "sp11", null, null)</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="7">
            Lunch Break<br />
            Pizza Sponsored by <a href="http://www.magenic.com/" target="_blank">Magenic</a><br />
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            @Html.ActionLink("The Art of Node: An Introduction to Node.js", "Spring2014", "Sessions", null, null, "s5", null, null)<br />
            <i>@Html.ActionLink("James Greene", "Spring2014", "Speakers", null, null, "sp5", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Cross-Platform Mobile Development with Xamarin", "Spring2014", "Sessions", null, null, "s7", null, null)<br />
            <i>@Html.ActionLink("Vince Bullinger", "Spring2014", "Speakers", null, null, "sp7", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Grunt From The Ground Up", "Spring2014", "Sessions", null, null, "s27", null, null)<br />
            <i>@Html.ActionLink("Brian P. Hogan", "Spring2014", "Speakers", null, null, "sp27", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("HTML5 for Better Web Sites", "Spring2014", "Sessions", null, null, "s19", null, null)<br />
            <i>@Html.ActionLink("Robert Boedigheimer", "Spring2014", "Speakers", null, null, "sp24", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Traces of Errors: Getting Better JavaScript Stacktraces", "Spring2014", "Sessions", null, null, "s16", null, null)<br />
            <i>@Html.ActionLink("Todd H Gardner", "Spring2014", "Speakers", null, null, "sp16", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Progressive Enhancement – The Reports of my Death are Greatly Exaggerated", "Spring2014", "Sessions", null, null, "s30", null, null)<br />
            <i>@Html.ActionLink("Scott Heckel", "Spring2014", "Speakers", null, null, "sp30", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Hands-on Haskell 101", "Spring2014", "Sessions", null, null, "s22", null, null)<br />
            <i>@Html.ActionLink("Chris Wilson", "Spring2014", "Speakers", null, null, "sp22", null, null)</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="7">
            Break With Afternoon Snacks<br />
            Afternoon Snack Sponsored by <a href="http://www.itr-mobility.com" target="_blank">ITR Mobility</a><br />
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            @Html.ActionLink("Angular.js Testing", "Spring2014", "Sessions", null, null, "s15", null, null)<br />
            <i>@Html.ActionLink("Jason More", "Spring2014", "Speakers", null, null, "sp15", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Why Agile? The Economics, Psychology, and Science of Agile's Success", "Spring2014", "Sessions", null, null, "s9", null, null)<br />
            <i>@Html.ActionLink("Matthew Renze", "Spring2014", "Speakers", null, null, "sp9", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Live Coding: Unleash the Soul of Programming", "Spring2014", "Sessions", null, null, "s3", null, null)<br />
            <i>@Html.ActionLink("Mike Hodnick", "Spring2014", "Speakers", null, null, "sp3", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Web Performance - Live Site Reviews!", "Spring2014", "Sessions", null, null, "s24", null, null)<br />
            <i>@Html.ActionLink("Robert Boedigheimer", "Spring2014", "Speakers", null, null, "sp24", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Packing Your *nix Toolbox", "Spring2014", "Sessions", null, null, "s34", null, null)<br />
            <i>@Html.ActionLink("Chris Johnson", "Spring2014", "Speakers", null, null, "sp34", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Systems Inferno: Automation from Hell to Heaven", "Spring2014", "Sessions", null, null, "s17", null, null)<br />
            <i>@Html.ActionLink("Richard Isaacson", "Spring2014", "Speakers", null, null, "sp17", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Grails in the JavaScript Age", "Spring2014", "Sessions", null, null, "s28", null, null)<br />
            <i>@Html.ActionLink("John Urberg", "Spring2014", "Speakers", null, null, "sp28", null, null)</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="7">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            @Html.ActionLink("Responsive Web Development Patterns", "Spring2014", "Sessions", null, null, "s14", null, null)<br />
            <i>@Html.ActionLink("Brad Broulik", "Spring2014", "Speakers", null, null, "sp14", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Make Your Own Print & Play Card Game Using SVG and JavaScript", "Spring2014", "Sessions", null, null, "s2", null, null)<br />
            <i>@Html.ActionLink("Kevin Hakanson", "Spring2014", "Speakers", null, null, "sp2", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Lightning Talks", "Spring2014", "Sessions", null, null, "s10", null, null)<br />
            <i>Hosted by - @Html.ActionLink("Jake Good", "Spring2014", "Speakers", null, null, "sp10", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Big Data in Real Time with Elastic Search", "Spring2014", "Sessions", null, null, "s33", null, null)<br />
            <i>@Html.ActionLink("Eric Brandes", "Spring2014", "Speakers", null, null, "sp33", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Building Wearables", "Spring2014", "Sessions", null, null, "s20", null, null)<br />
            <i>@Html.ActionLink("Kristina Durivage", "Spring2014", "Speakers", null, null, "sp20", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("An Optimistic Approach: Utilizing Snapshot Isolation in SQL Server", "Spring2014", "Sessions", null, null, "s35", null, null)<br />
            <i>@Html.ActionLink("Paul Timmerman", "Spring2014", "Speakers", null, null, "sp35", null, null)</i>
        </td>
        <td>
            @Html.ActionLink("Quest for the Holy Gradle: Software Build Top-to-Bottom", "Spring2014", "Sessions", null, null, "s12", null, null)<br />
            <i>@Html.ActionLink("Nick Stevens", "Spring2014", "Speakers", null, null, "sp12", null, null)</i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="7">
            Closing Remarks and Prize Giveaway in 3-210
        </td>
    </tr>
</table>