<h1>Spring 2012 - Schedule</h1>
<h2>
    Saturday, 4/14
</h2>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                3-210
            </td>
            <td>
                Rapson 56 and 3-230
            </td>
            <td>
                Rapson 54
            </td>
            <td>
                3-115
            </td>
            <td>
                3-125
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="5">
            Doors Open - Continental Breakfast Sponsored by <a href="http://thomsonreuters.com/"
                                                               target="_blank">Thomson Reuters</a>
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="5">
            Welcome and Introduction From TCCC Leadership Team in 3-210
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s2")">Targeting Mobile Devices with HTML5 and CSS 3</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp2")">Robert Boedigheimer</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s40")">Understanding WebAPI in ASP.NET MVC 4</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp41")">Matt Milner</a></i><br />
            <div>Rapson 56</div>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s8")">Using Rails and jQuery Mobile For The (Quick) Win</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp9")">Brian Hogan</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s23")">Getting Started with SignalR</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp24")">Rich Dudley</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s35")">2D Character Animation Techniques for XNA</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp36")">Ananth Balasubramaniam</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s5")">Leveraging jQuery's Special Events API</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp5")">James Greene</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s26")">Drinking From The Fire Hose: Web Edition</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp27")">Lee Brandt</a></i><br />
            <div>Rapson 56</div>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s10")">Marketing Yourself Using Various Forms of Social Media</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp11")">Brandy Favilla</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s20")">Web, Meet Windows. Hello XAML, My Old Friend</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp21")">Jeff Brand</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s25")">Boosting Your C++ Development with Boost</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp26")">John Urberg</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="5">
            Lunch - Special Event Sponsored by the Nerdery
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s21")">Javascript Unit Testing with QUnit and Mockjax</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp22")">Nick Schweitzer</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s31")">
                KnockoutJS and SignalR Mashup to Create Maintainable Real-Time
                Applications
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp32")">Jason More</a></i></br>
            <div>Rapson 56</div>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s32")">Async: Today and Tomorrow</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp33")">Joe Mayo</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s19")">Performance and Stability Tips for your iOS App</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp20")">Matt Ronge</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s28")">Dart: A Replacement for JavaScript and Why You Should Care</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp29")">Kevin Gisi</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s12")">Android Development for .NET Programmers</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp13")">Mike Marshall</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s42")">Gain Confidence with Continuous Integration</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp43")">Jenna Pederson</a></i><br />
            <div>3-230</div>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s17")">
                Understanding the MVP - Connecting Continuous Delivery
                to the Lean Startup Movement
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp18")">Aaron Erickson</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s29")">Estimate: reflections on the approximate</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp30")">Avonelle Lovhaug</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s9")">Windows Server AppFabric Caching. Server Rich, Cache Poor!</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp10")">Mohammad Faridi</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="5">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s45")">Open Source 101: Get Involved with GitHub</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp47")">Keith Dahlby</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s6")">
                Big Data and Healthcare: Wireless Monitoring, Data Storage,
                and Analysis
            </a><br />
            <i>
                <a href="@Url.Content("~/Speakers/Spring2012#sp6")">Wade Schultz</a> and <a href="@Url.Content("~/Speakers/Spring2012#sp7")">
                    Brent
                    Nelson
                </a>
            </i><br />
            <div>3-230</div>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s34")">Get Your SQL Server Under Source Control</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp35")">Andy Pickett</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s46")">CSLA .NET and Windows 8</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp48")">Rockford Lhotka</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s7")">Specification by Example with JBehave</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp8")">Brian Repko</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="5">
            Closing Remarks and Prize Giveaway in 3-210
        </td>
    </tr>
</table>
<h2>
    Sunday, 4/15
</h2>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                3-210
            </td>
            <td>
                3-230
            </td>
            <td>
                3-115
            </td>
            <td>
                3-125
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            8:15 - 8:45
        </td>
        <td colspan="4">
            Doors Open - Continental Breakfast Sponsored by <a href="http://thomsonreuters.com/"
                                                               target="_blank">Thomson Reuters</a>
        </td>
    </tr>
    <tr align="center">
        <td>
            8:45 - 9:00
        </td>
        <td colspan="4">
            Welcome and Introduction From TCCC Leadership Team in 3-210
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:00 - 10:15
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s4")">Extensible, Durable JavaScript with Inheritance</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp4")">Mike Hodnick</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s18")">Expressing Yourself with C# Expression Trees</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp19")">Chad Kulesa</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s15")">.NET TDD Kickstart</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp16")">Barry S. Stahl</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s16")">First Principles of System Architecture</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp17")">Joshua Ramirez</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            10:15 - 10:30
        </td>
        <td colspan="4">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            10:30 - 11:45
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s11")">Pair Programming Techniques</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp12")">Chris Johnson</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s44")">Teach Your Kids to Program</a><br />
            <i>
                <a href="@Url.Content("~/Speakers/Spring2012#sp45")">Tommy Davis</a> and <a href="@Url.Content("~/Speakers/Spring2012#sp46")">
                    Scott
                    Davis
                </a>
            </i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s27")">MVVM with Caliburn.Micro</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp28")">Brent Edwards</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s22")">Extending .NET Applications with MEF Plugins</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp23")">J Wynia</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            11:45 - 12:45
        </td>
        <td colspan="4">
            Lunch
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            12:45 - 2:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s13")">Getting Started with jQuery Mobile</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp14")">Brad Broulik</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s14")">Managing the .NET Compiler</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp15")">Jason Bock</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s37")">Monetizing Mobile Apps</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp38")">Chris Black</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s33")">Move Your Silverlight Skills to the Native Web with KnockoutJS</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp34")">Judah Himango</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="4">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:30
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s39")">Introduction to KnockoutJS 2.0</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp40")">Aaron Wallestad</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s24")">Windows 8 Metro Apps Crash Course</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp25")">Jeff Klawiter</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s43")">Artificial Evolution, Zombies and JavaScript</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp44")">Allen Sanborn</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s36")">HTTP Potpourri</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp37")">Kevin Hakanson</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            3:30 - 3:45
        </td>
        <td colspan="4">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            3:45 - 5:00
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s41")">
                Islands of Richness: Structuring Rich Client-Side Applications
                in Javascript
            </a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp42")">Todd H. Gardner</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s30")">Parallel Programming in .NET and Azure</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp31")">Greg Levenhagen</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s38")">Extending Canvas: Going 3D with three.js</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp39")">Adam Ranfelt</a></i>
        </td>
        <td>
            <a href="@Url.Content("~/Sessions/Spring2012#s1")">NuGet: From Concepts to Implementation</a><br />
            <i><a href="@Url.Content("~/Speakers/Spring2012#sp1")">Vince Bullinger</a></i>
        </td>
    </tr>
    <tr align="center">
        <td>
            5:00 - 5:30
        </td>
        <td colspan="4">
            Closing Remarks and Prize Giveaway in 3-210
        </td>
    </tr>
</table>
